name: Test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet: [ '3.1.100' ]
    name: Test dotnet ${{ matrix.dotnet-versions }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up dotnet.
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ matrix.dotnet }}
      - name: Build
        run: dotnet build
      - name: Run test suite
        run: dotnet test
