name: Test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test dotnet
    steps:
      - uses: actions/checkout@v6
      - name: Set up dotnet 8.
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '8.0.x'
      - name: Set up dotnet 9.
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '9.0.x'
      - name: Build
        run: dotnet build
      - name: Run test suite
        run: dotnet test
