name: Test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet: [ '6.0.x' ]
    name: Test dotnet ${{ matrix.dotnet-versions }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up dotnet.
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ matrix.dotnet }}
      - name: Build
        run: dotnet build
      - name: Run test suite
        run: dotnet test
