name: Release
on:
  release:
    types: [published]
jobs:
  test:
    runs-on: ubuntu-latest
    name: Test dotnet ${{ matrix.dotnet-versions }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up dotnet.
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '3.1.100'
      - name: Build
        run: dotnet build
      - name: Run test suite
        run: dotnet test
  release-gh:
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - uses: actions/checkout@v2
      - name: Set up dotnet.
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '3.1.100'
      - name: Build
        run: dotnet build Personnummer
      - name: Package
        run: dotnet pack --configuration Release Personnummer
      - name: publish GH
        env:
          NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: dotnet nuget push Personnummer/bin/Release/*.nupkg -s https://nuget.pkg.github.com/Personnummer/index.json
  release-nuget:
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - uses: actions/checkout@v2
      - name: Set up dotnet.
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '3.1.100'
      - name: Build
        run: dotnet build Personnummer
      - name: Package
        run: dotnet pack --configuration Release Personnummer
      - name: publish Nuget
        env:
          NUGET_AUTH_TOKEN: ${{secrets.NUGET_TOKEN}}
        run: dotnet nuget push Personnummer/bin/Release/*.nupkg -s https://api.nuget.org/v3/index.json